.greybar      {
    @include break(300px, 459px) {
        display: none;
    }
    width: 100%;
    height: 90px;
    background: $light-grey;
    clear: both;
    padding-top: 30px;
}
footer {
    @include break(300px, 459px) {
        @include footer(120px, $dark-grey, $white);
        footer p, footer img  {
            float: none;
            margin: 0;
        }
    }
    @include footer(120px, $dark-grey, $white);
    .social-media  {
        margin: 0 auto;
        width: 165px;
            .one {
                @include socialMedia(0, 0);
            }
            .two {
                @include socialMedia(-38px, 0);
            }
            .three {
                @include socialMedia(-76px, 0);
            }
            .four {
                @include socialMedia(-114px, 0);
            }
    }
}