//Logo box
@mixin logo($image, $width, $height, $float, $position) {
    background-image: url($image);
    width: $width;
    height: $height;
    float: $float;
    background-position: $position;
    background-repeat: no-repeat;
    display: block;
    margin: 0;
}

//Nav box
@mixin nav($width, $height, $float, $text) {
    width: $width;
    height: $height;
    float: $float;
    text-align: $text;
    ul {
        list-style-type: none;
    }
    ul li {
        display: inline;
    }
    ul li a {
        color: $red;
        text-decoration: none;
        letter-spacing: -0.01em;

        &:hover {
            color: $white;
        }
    }
}

//Header box
@mixin header($imageHeader, $font1, $font2, $font3) {
    max-width: 100%;
    clear: both;
    text-align: center;
    padding-top: 40px;
    height: auto;
    img {
        display: block;
        background-image: url($imageHeader);
    }
    h1 {
        font-size: $font1;
    }
    h2 {
        font-size: $font2;
    }
    h3 {
        font-size: $font3;
    }
}

//Headline box
@mixin headline($color, $size, $padding) {
    background: $color;
    width: 100%;
    height: 130px;
    text-align: center;
    margin:0 auto;
    h1 {
        color: $white;
        font-size: $size;
        font-weight: $font-light;
        padding-top: $padding;
    }
}

//Content box
@mixin content($width, $margin) {
    width: $width;
    margin: $margin;
}

//Article box
@mixin article($image) {
    margin-bottom: 40px;
    img {
        display: block;
        background-image: url($image);
        float: left;
        margin-right: 20px;
    }
    h4 {
        line-height: 1em;
    }
}

//Footer box
@mixin footer($height, $background, $textColor) {
    width: 100%;
    height: $height;
    background: $background;
    text-align: center;
    color: $textColor;
    padding-top: 50px;
}

//Social media
@mixin socialMedia($position-x, $position-y) {
    float: left;
    margin-right: 5px;
    background-image: url(#{imagesPath}/#{imageSocial});
    background-position: $position-x $position-y;
    a {
        display: block;
        width: 36px;
        height: 36px;
        text-indent:-9999px;
    }
}

//Media queries
@mixin break($args...) {
    @if length($args) == 1 {
        @media  (min-width: nth($args, 1)) {
            @content;
        }
    } 
    @if length($args) == 2 {
        @media  (min-width: nth($args, 1)) and
                (max-width: nth($args, 2))  {
            @content; 
        }
    } 
}