//Load fonts
@import url('http://fonts.googleapis.com/css?family=Roboto:400,900,100');

$font-body:            'Roboto, sans-serif'; 
$font-light:            100;
$font-medium:           400;
$font-heavy:            900;
$line-height:           2em !default;

$white:                 #fff;
$red:                   #E65C43;
$grey:                  #666;
$dark-grey:             #30353D;
$light-grey:            #F5F6F6;
$headline-background:   #F25C43;

$imagesPath:            "../dist/images";
$imageBackground:       "bg.gif";
$imageLogo:             "logo.png";
$imageHeader:           "devices.png";
$imageProduct1:         "vprospect.png";
$imageProduct2:         "vconvert.png";
$imageSocial:           "social-media.png";